*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
a{
	color: #fff;
	text-decoration: none;
}
::selection{ 
	background: #f60c3e;
	color: #fff;
}
body{
	font-family:"Anyway Type", sans-serif;
	background: #f60c3e;
	color: #fff;
	text-align: center;
}
/*~Fonts*/
@font-face {
    font-family: 'Anyway Type';
    src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff'),
	    	url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Anyway Type';
	src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff'),
    		url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;    
}
/*~Header*/
header{
	padding: 2em 0;
}
.site-title{
	font-size: 2rem;
}
.logo{
	text-align: center;
	width: 18%;
	height: auto;
	margin: 0 auto 1em;
}
#logo{
	max-width: 50%;
}
nav{
	text-align: center;
}
nav li{
	float: left;
	margin: 1em 0;
	font-size: .8rem;
	list-style: none;
}

/*~Main*/
main{
	width: 70rem;
	max-width: 70%;
	height: auto;
	display: block;
	text-align: left;
	margin: 0 auto;
}
.posts li{
	border-bottom: 1px dotted #fff;
	padding: .5em 0;
}
.posts li a{
	font-weight: 700;
	text-decoration: none;
}
h1{
	font-size: 1.5rem;
}
.date{
	opacity: .5;
	float: right;
}

/*~Footer*/
footer{
	clear: both;
	text-align: center;
	font-size: .8rem;
	padding: 1em 0;
}
@media screen and (max-width: 1000px) {
	body{
		font-size: .6em;
	}
	main{
		max-width: 90%;
	}
}