*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
a{
	color: #444;
	text-decoration: none;
}
ol, ul{
	list-style-position: inside;
}
::selection{ 
	background: #f60c3e;
	color: #fff;
}
body{
	font-family:"AR PChiauHei B5 Extra", sans-serif;
	color: #444;
	text-align: center;
	background: #fff;
}
/*~Header*/
header{
	padding: 2em 0;
	background: #f60c3e;
	color: #fff;
	display: block;
	position: fixed;
	height: 100vh;
	width: 30vw;
}
.site-title{
	font-size: 2rem;
	font-weight: 700;
}
.logo{
	text-align: center;
	width: 80%;
	height: auto;
	margin: 3em auto 1em;
}
.logo img{
	max-width: 100%;
}
nav{
	text-align: center;
	clear: both;
	width: 100%;
}
nav li{
	margin: 1em;
	font-size: .8rem;
	list-style: none;
	display: inline-block;
}
nav li a{
	color: #fff;
}
/*~Main*/
main{
	width: 70vw;
	height: auto;
	display: block;
	text-align: left;
	margin: 0 auto;
	float: right;
	padding: 3em;
}
.posts{

}
.posts li{
	border-bottom: 1px dotted #aaa;
	padding: 1.2em 0;
	font-family: monospace;
	color: #4b52a0;
	font-weight: 700;
}
.posts li a{
	font-weight: 700;
	text-decoration: none;
	overflow: hidden;
	font-family:"AR PChiauHei B5 Extra", sans-serif;	
}
.posts li a:hover{
	color: #f60c3e;
}
h1{
	font-size: 1.5rem;
	display: inline-block;
}
.date{
	color: #4b52a0;
	float: right;
	font-family: monospace;
	font-weight: 700;
}
/*~Misc*/
.mask{
	position: fixed;
	z-index: 9999;
	border: .6rem solid #f60c3e;
	background: #f60c3e;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{bottom: 0;}
.mt{top: 0;}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml,.ml2{left: 0;}
.mr,.mr2{right: 0;}
.ml2,.mr2{bottom: none;top: 0;}

/*~Footer*/
footer{
	clear: both;
	text-align: center;
	font-size: .8rem;
	padding: 1em 0;
}
@media screen and (max-width: 1000px) {
	body{
		font-size: .6em;
	}
	main{
		max-width: 90%;
	}
}