*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
::selection{ 
	background: #f60c3e;
	color: #fff;
}
body{
	font-family:"Anyway Type", sans-serif;
	background: #f60c3e;
	color: #fff;
}
/*~Fonts*/
@font-face {
    font-family: 'Anyway Type';
    src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff'),
	    	url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Anyway Type';
	src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff'),
    		url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;    
}
.main{
	width: 70rem;
	max-width: 70%;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	transform: translateX(-50%) translateY(-50%);
}
.logo{
	text-align: center;
	width: 18%;
	height: auto;
	margin: 0 auto 1em;
}
#logo{
	max-width: 50%;
}
.quote{
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	line-height: 1.2;
	letter-spacing: -.01em;
	transition: color .15s ease-in;
}
.hover{
	color: #ff6c8b;
}
.quote:before,
.quote:after{
	content: "“";
	color: rgba(0, 0, 0, .15);
	font-size: 1em;
	font-family: "Times New Roman", serif;
	margin: 0 .15em;
	position: relative;
}
.quote:after{
	content: "”";
}
.quote a{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	display: inline-block;
	text-shadow: 
		0 .05em .05em #f60c3e,
		.05em 0 .05em #f60c3e,
		-.05em 0 .05em #f60c3e,
		0 .05em .05em #f60c3e;
	line-height: 0.5;
	height: .72em;
	position: relative;
	transition: color .15s ease-in, border .15s ease-in;
}
.hover a{
	color: #ff6c8b;
	border-color: #ff6c8b;
}
.hover a:hover{
	color: #fff;
	border-color: #fff;
}
.author{
	text-align: right;
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
	font-family: Bitter, serif;
	margin: 1em 6%;
	color: rgba(0, 0, 0, .45);
}
@media screen and (max-width: 1000px) {
	body{
		font-size: .6em;
	}
	.main{
		max-width: 90%;
	}
	.author{
		text-align: center;
	}
}