<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="//typesquare.com/accessor/zh_tw/script/typesquare.js?xPGjtUBIjoA%3D" charset="utf-8"></script>
</head>

<body>
<header>
	<section class="site-title">{{ page.title }}</section>
	<nav>
		<ul>
			<li><a href="http://Anyway.FM">返回原版</a></li>
			<li><a href="http://Anyway.FM">前往网易云音乐收听</a></li>
			<li><a href="http://Anyway.FM">前往荔枝 FM 收听</a></li>
			<li><a href="http://Anyway.FM">前往 Apple 播客 App 收听</a></li>
		</ul>
	</nav>
</header>

<main>
	
	{{ content }}
	
<main>
<footer>
	© 2015 ~ 2017 <a href="http://anyway.fm">Anyway.FM</a> 保留所有权利
</footer>
</body>
</html>