<!DOCTYPE html>
<html lang="zh-cmn-Hant">
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="//typesquare.com/accessor/zh_tw/script/typesquare.js?xPGjtUBIjoA%3D" charset="utf-8"></script>
</head>

<body>

<header>
<!--	© 2015 ~ 2017 <a href="http://anyway.fm">Anyway.FM</a> 保留所有權利-->
</header>

	
	{{ content }}
	
<footer>
<!--	<div class="logo"><img src="http://anyway-web.b0.upaiyun.com/images/logo.svg" /></div>-->
<!--	<section class="site-title">{{ page.title }}</section>
	<nav>
		<ul>
			<li><a href="http://Anyway.FM">返回正常版</a></li>
			<li><a href="http://music.163.com/m/djradio/4969001">网易云音乐</a></li>
			<li><a href="http://www.lizhi.fm/1824901/">荔枝 FM</a></li>
			<li><a href="https://itunes.apple.com/cn/podcast/anyway.fm-she-ji-za-tan/id1053786200">Apple 播客</a></li>
		</ul>
	</nav>-->
</footer>


<div class="mask mt"></div><div class="mask mb"></div><div class="mask mv ml"></div><div class="mask mv mr"></div><div class="mask mv ml2"></div><div class="mask mv mr2"></div>

</body>
</html>